.header {
  text-align: center;
  /* color: slateblue */
  background-color: #282c34;
  color: white;
}

.header-sub-txt {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: slateblue;
  color: rgb(180, 172, 241);
  /* font-family: 'Hina Mincho', serif; */
}

.topbar {
  width: 100%;
  height: 50px;
  background-color: #282c34;
  color: white;
  position: sticky;
  top: 0;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  font-family: "Lalezar", cursive;
  text-decoration: none;
}

.topRight {
  display: flex;
  align-items: center;
}

.topBarItem,
.topBarAuthItem {
  margin-left: 15px;
  cursor: pointer;
}
