.formContainer {
  /* margin-left: 25%; */
  /* margin: 60px 0 0 25%; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.formTitle {
  font-size: 35px;
  font-family: "Lalezar", cursive;
}

.form {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-between;
}

.formItem {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.formItem > label {
  margin-bottom: 10px;
  font-style: 14px;
  font-weight: 600;
  color: slateblue;
}

.formItem > input {
  height: 20px;
  padding: 10px;
  border: 0.5px solid mediumslateblue;
  border-radius: 5px;
}

.loginBtn {
  width: 200px;
  border: none;
  background-color: lightseagreen;
  color: white;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  align-self: center;
}

.loginGoogleBtn {
  width: 200px;
  border: none;
  background-color: blue;
  color: white;
  padding: 7px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.signupBtn {
  width: 200px;
  border: none;
  background-color: slateblue;
  color: white;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.bot-container {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
  margin-top: 40px;
  border-top: 0.5px solid;
}

.bot-text {
  margin-top: 30px;
}
