.topbar {
  width: 100%;
  height: 50px;
  background-color: #282c34;
  color: white;
  position: sticky;
  top: 0;
}

.topbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0px 20px;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  font-family: "Lalezar", cursive;
  text-decoration: none;
}

.auth-item {
  margin-left: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}

.auth-item:hover {
  color: #95f995;
  border-bottom: 1px solid #95f995;
}

.user-in {
  color: rgb(180, 172, 241);
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .user-in,
  .auth-item {
    font-size: 1rem;
  }
}
