.gallery {
  display: flex;
  justify-content: center;
}

.postContainer {
  height: 100%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galleryItem {
  display: flex;
  justify-content: center;
  height: 200px;
}

.image {
  max-width: 95%;
  user-select: none;
  margin: 2px;
}

.image:hover {
  transform: scale(1.3);
}
