body {
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Lalezar", cursive;
}

/* * {
  font-family: "Lalezar", cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Urbanist', sans-serif;
} */
